
/*BUTTONS*/

.btn{

  &:link,  /*selector is used to select unvisited links.*/
  &:visited{
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  transition: all .2s;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  }

  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2); // only work is sass
    &::after{
      transform: scaleX(1.5) scaleY(1.6); /*make it bigger*/
      opacity: 0;
    } 
  }
  
  &:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);/*click event*/ 
  }
  
  &--white{
    color: $color-gray-dark;
    background-color: $color-white;
    &::after{
      background-color: white;  
    }
  }

  &--green{
    color: $color-white;
    background-color: $color-primary;
    &::after{
      background-color: $color-primary;  
    }
  }
  
  &::after{  /*insert a virtual element after*/
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: inline-block; /*need to have*/
    width: 100%;
    height: 100%;
    content: ""; /*need to have*/
    transition: all .5s;
    border-radius: 10rem;
  }  
  
  &--animated{
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards; 
    /*specifies a style for the element 
    when the animation is not playing*/
  }
}

.btn-text{
  margin-top: 20px;
  
  &:link,
  &:visited{
    font-size: $default-font-size;
    display: inline-block;
    padding: 3px;
    transition: all .2s;
    text-decoration: none;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
  }
  &:hover{
    transform: translateY(-2px);
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
  }
  &:active{
    transform: translateY(0);
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
  }
}